<!-- Navbar -->
<nav  class="navbar navbar-expand-lg  navbar-dark py-3 ">
  <div class="container">
      <div class="logo">
      <a routerLink="/landing-page" ><img src="assets/images/tech.jpg"></a>
      <a href="#" class="navbar-brand" style="margin-left: 20px;"></a>

      </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="/signup" class="nav-link" style="color: aliceblue;">Become a mentor</a>
        </li>
    
       
        
      </ul>
    </div>
  </div>
</nav>



<!-- Blog Cards-->

<div class="body">
  <div class="container">
    <h1 class="title text-center py-4">Our Blogs</h1>
    <div class="row">
  
      <div class="col-md-4 d-flex justify-content-center" *ngFor="let tutorial of tutorials; let i = index">
  
        <div class="card m2 cb1 text-center">
          
          <div class="card-body">
            <p class="card-text">{{tutorial.title}}</p>
            <div class="button">
              <div  data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-outline-warning btn-md" [class.active]="i == currentIndex" (click)="setActiveTutorial(tutorial, i)">View blog</div>
            </div>
          </div>
        </div>
  
      </div>
      
    </div>
  </div>
  
  <!-- Modal -->
  <div  *ngIf="currentTutorial" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="staticBackdropLabel">{{currentTutorial.title}}</h4>
          <br>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{{currentTutorial.description}}</p>
        </div>
        <div class="modal-footer">
          <h5 class="modal-title">Author: {{currentTutorial.author}}</h5>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
</div>
