<nav  class="navbar navbar-expand-lg  navbar-dark py-3 fixed-top">
    <div class="container">
        <div class="logo">
        <a href="" ><img src="assets/images/tech.jpg"></a>
        <a href="#" class="navbar-brand" style="margin-left: 20px;"></a>

        </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a routerLink="/login" class="nav-link text-light" style=" font-size: 1.2rem; font-weight: bold">techPath</a>
          </li>
          <li class="nav-item">
            <a routerLink="" class="nav-link" style="color: aliceblue;"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

          
  <section class="home-section" id="title">

    <div class="container-fluid p-0">
  

  </div>
  </section>
  <section class="blog">
      <div class="container">
          <div class="row content">
              <div class="col-md-6 mb-3">
                  <img src="../assets/images/stevejobs.jpg" class="img-fluid" alt="image">
              </div>
              <div class="col-md-6">
                  <h3 class="blog-text mb-3">Steve Jobs 1995: “Everybody should learn to program a computer, 
                    because it teaches you how to think"</h3>
                  <p class="text">
                    We teach coding because it is an exercise which “mirrors your thought process”; it is a way of codifying our thoughts and being able to see them written down in front of us.
                    That is why we talk of programming languages: a language is a means of communicating and programming languages allow us to communicate with a computer, yes, but they also allow us to communicate what we are thinking in a logical and unambiguous way.
                    Of course not all our thoughts can be written in such a way (for now, at least.) But the more we code, the more we learn and practise the act of deconstructing our thoughts in a clear and structured way.
                    This is a skill that goes beyond coding itself. The more skilled we are breaking down our thinking in such a way to write code, the more likely we are to start thinking in a logical and systematic way in other aspects of our life too.
                  </p>
              </div>
          </div>
      </div>
  </section>
  <section class=" text-light p-3" style="background-color: #DFC13F;">
      <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
          <h3 class="mb-1 mb-md-0">Learn more about different types of Programming Language that are classified:</h3>
        </div>
      </div>
    </section>
  
    <!-- Boxes -->
    <section class="p-5">
      <div class="container">
        <div class="row text-center g-4">
          <div class="col-md">
            <div class="card bg-light text-dark">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-laptop"></i>
                </div>
                <span class="material-icons">
                  <img src="../assets/images/logic.jpg" class="img-fluid" alt="image">
                  </span>
                <h3 class="card-title mb-3">Logic Programming Language</h3>
                <p class="card-text">
                  Logic programming is a programming paradigm that is based on logic.
                </p>
                <a href="https://www.virtusa.com/digital-themes/logic-programming" target="_blank" class="btn btn-success">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card bg-light text-dark">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-people"></i>
                </div>
                <span class="material-icons">
                  <img src="../assets/images/functional.jpg" class="img-fluid" alt="image">
                  </span>
                <h3 class="card-title mb-3">Functional Programming Language</h3>
                <p class="card-text">
                  Functional programming languages are 
                  specially designed to handle symbolic computation 
                  and list processing applications.
                </p>
                <a href="https://www.tutorialspoint.com/functional_programming/functional_programming_introduction.htm" target="_blank" class="btn btn-warning text-light">Read More</a>
              </div>
            </div>
          </div>
          
           
               
            <div class="col-md">
              <div class="card bg-light text-dark">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-people"></i>
                  </div>
                  <span class="material-icons">
                    <img src="../assets/images/object.jpg" class="img-fluid" alt="image">
                      </span>
                  <h3 class="card-title mb-3">Object-Oriented Programming Language</h3>
                  <p class="card-text">
                    Object-Oriented Programming languages use objects that contain both data and code.
                     The principles of object-oriented 
                    programming are encapsulation, abstraction, polymorphism, and inheritance.
                  </p>
                  <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html" target="_blank" class="btn btn-success text-light">Read More</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
  <footer class="p-5  text-light text-center position-relative" style="background-color: #ceba60ee;">
    <div class="container">
      <p class="lead">Created by CodeTech Copyright &copy; 2021 techPath blog</p>

    </div>
  </footer>