<nav  class="navbar navbar-expand-lg  navbar-dark py-3 fixed-top">
  <div class="container">
      <div class="logo">
      <a href="" ><img src="assets/images/tech.jpg"></a>
      <a href="#" class="navbar-brand" style="margin-left: 20px;"></a>

      </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="/login" class="nav-link text-light" style=" font-size: 1.2rem; font-weight: bold">techPath</a>
        </li>
        <li class="nav-item">
          <a routerLink="" class="nav-link" style="color: aliceblue;"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>



  <section class="blog">
    <div class="container">
      <div class="row content">
        <div class="fill col-md-6 mb-3">
          <img src="assets/images/p.jpg" class="img-fluid" alt="image">
        </div>
        <div class="writing col-md-6">
          <h4 class="blog-text mb-3">Languages you can start with</h4>
          
          <p class="text">
            One never forgets their first programming language. 
            It’s a memory and a relationship with a language that’s unforgettable and unbreakable. 
            No matter how frustrating or unpopular the language might be, it holds a special place in one's heart.
             At first glance, programming is daunting, but there are many excellent languages for beginners to learn fundamental concepts. 
             In this article, 
            we will highlight 3 programming languages for beginners.   
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="text-light p-3" style="background-color: #DFC13F;">
    <div class="container">
      <div class="d-md-flex justify-content-between align-items-center">
        <h3 class="mb-1 mb-md-0">Learn more about programming languages that are beginner friendly:</h3>
      </div>
    </div>
  </section>

  <!-- Boxes -->
  <section class="p-5">
    <div class="container">
      <div class="row text-center g-4">
        <div class="col-md">
          <div class="card bg-light text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-laptop"></i>
              </div>
              <span class="material-icons">
                <img src="assets/images/python.png" class="img-fluid" alt="python">
              </span>
              <h3 class="card-title mb-3">Python</h3>
              <p class="card-text">
                Python is an interpreted, object-oriented, 
                high-level programming language with dynamic semantics. 
                Its high-level built in data structures, combined with dynamic typing and dynamic binding, 
                make it very attractive for Rapid Application Development
              </p>
              <a href="https://www.python.org/doc/essays/blurb/" class="btn btn-success" target="_blank">Read more</a>
            </div>
          </div>
        </div>
        <!--<div class="col-md">
          <div class="card bg-light text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-people"></i>
              </div>
              <span class="material-icons">
                <img src="assets/images/covid.jpg" alt="">
                </span>
              <h3 class="card-title mb-3">Covid 19</h3>
              <p class="card-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Iure, quas quidem possimus dolorum esse eligendi?
              </p>
              <a href="#" class="btn btn-warning text-light">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md">
            <div class="card bg-light text-dark">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-people"></i>
                </div>
                <span class="material-icons">
                    <img src="assets/images/mental.jpg" alt="">
                    </span>
                <h3 class="card-title mb-3">Mental</h3>
                <p class="card-text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Iure, quas quidem possimus dolorum esse eligendi?
                </p>
                <a href="#" class="btn btn-success">Read More</a>
              </div>
            </div>
          </div>-->
        <div class="col-md" id="cardz">
          <div class="card bg-light text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-people"></i>
              </div>
              <span class="material-icons">
                <img src="assets/images/js.png" class="img-fluid" alt="image">
              </span>
              <h3 class="myAdd card-title mb-3">JavaScript</h3>
              <p class="card-text">
                JavaScript is a dynamic programming language that's used for web development, in web applications, for game development, and lots more. 
                It allows you to implement dynamic features on web pages that cannot be done with only HTML and CSS.
              </p>
              <a href="https://www.freecodecamp.org/news/what-is-javascript/" target="_blank"
                class="btn btn-warning text-light">Read more</a>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-light text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-people"></i>
              </div>
              <span class="material-icons">
                <img src="assets/images/C-Sharp.png" class="img-fluid" alt="image">
              </span>
              <h3 class="card-title mb-3">C#</h3>
              <p class="card-text">
                C# (pronounced "See Sharp") is a modern, object-oriented, and type-safe programming language. C# enables developers to build many types of secure and robust applications 
                that run in .NET. C# has its roots in the C family of languages and will be immediately familiar to C, C++, Java, and JavaScript programmers.
                This tour provides an overview of the major components of the language in C# 8 and earlier.
              </p>
              <a href="https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/" target="_blank"
                class="btn btn-success text-light">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="p-5  text-light text-center position-relative" style="background-color: #ceba60ee;">
    <div class="container">
      <p class="lead">Created by codeTech Copyright &copy; 2021 techPath blog</p>

    </div>
  </footer>
