.navbar {
    background-color: #ceba60ee;;
}

.nav-item a {
    color: #ffffff;
}

.nav-item a:hover {
    color: #000000;
}

.navbar .container .logo img {
    height: 30%;
    width: 30%;
    object-fit: contain;
    border-radius: 10rem;
}


.blog {
    padding-top: 130px;
}


.btn {
    background-color: #A95534;
    
}

