

    <nav  class="navbar navbar-expand-lg  navbar-dark py-3 fixed-top">
      <div class="container">
          <div class="logo">
          <a href="" ><img src="assets/images/tech.jpg"></a>
          <a href="#" class="navbar-brand" style="margin-left: 20px;"></a>
    
          </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a routerLink="/login" class="nav-link text-light" style=" font-size: 1.2rem; font-weight: bold">techPath</a>
            </li>
            <li class="nav-item">
              <a routerLink="" class="nav-link" style="color: aliceblue;"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    
    
    
    
    
              
    
    
  
  <section class="blog">
      <div class="container">
          <div class="row content">
              <div class="col-md-6 mb-3">
                  <img src="../assets/images/data.jpeg" class="img-fluid" alt="image">
              </div>
              <div class="col-md-6">
                  <h3 class="blog-text mb-3">Data science</h3>
                  <p class="text">
                    Data science is one of the most exciting fields out there today. But why is it so important?
                    Because companies are sitting on a treasure trove of data. As modern technology has enabled the creation and storage of increasing amounts of information, data volumes have exploded. It’s estimated that 90 percent of the data in the world was created in the last two years. For example, Facebook users upload 10 million photos every hour.
                    But this data is often just sitting in databases and data lakes, mostly untouched.
                    The wealth of data being collected and stored by these technologies can bring transformative benefits to organizations and societies around the world—but only if we can interpret it. That’s where data science comes in.
                    Data science reveals trends and produces insights that businesses can use to make better decisions and create more innovative products and services. Perhaps most importantly, it enables machine learning (ML) models to learn from the vast amounts of data being fed to them, rather than mainly relying upon business analysts to see what they can discover from the data.
                    Data is the bedrock of innovation, but its value comes from the information data scientists can glean from it, and then act upon.
                      </p>
              </div>
          </div>
      </div>
  </section>
  <section class=" text-light p-3" style="background-color: #DFC13F;">
      <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
          <h3 class="mb-1 mb-md-0" >Learn more about Data science:</h3>
        </div>
      </div>
    </section>
    <!-- cards -->
    <section class="p-5">
      <div class="container">
        <div class="row text-center g-4">
          <div class="col-md">
            <div class="card bg-light text-dark">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-laptop"></i>
                </div>
                <span class="material-icons">
                  <img src="assets/images/sexiestjob.webp" alt="">
                  </span>
                <h3 class="card-title mb-3">Sexiest job of the 21st century?</h3>
                <p class="card-text p-2">
                
                For data scientists, it's exciting to see salaries, job opportunities, 
                and job satisfaction on the rise. They've certainly earned this as data science has become a key 
                differentiator for many Fortune 500 companies and earned data scientists a 
                seat in the boardroom as critical business decisions are being made.
                </p>
                <a href="https://www.entrepreneur.com/article/367108" target="_blank" class="btn btn-success">Read More</a>
              </div>
            </div>
          </div>
         
          
            <div class="col-md">
              <div class="card bg-light text-dark">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-people"></i>
                  </div>
                  <span class="material-icons">
                    <img src="assets/images/become.jpeg" alt="">
                    </span>
                    
                  <h3 class="card-title mb-3">Find a mentor and  launch your career in Data science</h3>
                  <p class="card-text">
                    If you're interested in the exciting world of data science, 
                    but don't know where to start, We are here to help. You can also talk to a mentor in our website 
                    by going to "find a mentor" and talk to a mentor. 
                    Mentors encourage and enable another person's professional or personal development. A mentor can help focus their efforts by setting goals and giving feedback.
                  </p>
                  <a href="https://www.dataschool.io/talkpython/" target="_blank" class="btn btn-warning text-light">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="card bg-light text-dark">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-people"></i>
                  </div>
                  <span class="material-icons">
                    <img src="assets/images/money.png" alt="">
                    </span>
                  <h3 class="card-title mb-3">Do data scientists make good money?</h3>
                  <p class="card-text">
                    
                  Despite a recent influx of early-career professionals, the median starting salary for a data scientist remains high at $95,000. 
                  Mid-level data scientist salary. The median salary for a mid-level data scientist is $130,000. 
                  If this data scientist is also in a managerial role, the median salary rises to $195,000.
                  </p>
                  <a href="https://datasciencedegree.wisconsin.edu/data-science/data-scientist-salary/" target="_blank" class="btn btn-success text-light">Read More</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
  
  
