





<nav  class="navbar navbar-expand-lg  navbar-dark py-3 fixed-top">
  <div class="container">
      <div class="logo">
      <a href="" ><img src="assets/images/tech.jpg"></a>
      <a href="#" class="navbar-brand" style="margin-left: 20px;"></a>

      </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="/login" class="nav-link text-light" style=" font-size: 1.2rem; font-weight: bold">techPath</a>
        </li>
        <li class="nav-item">
          <a routerLink="" class="nav-link" style="color: aliceblue;"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>






          


  <div class="container-fluid p-0">
    <nav  class="navbar navbar-expand-lg  navbar-dark py-3 fixed-top">
      <div class="container">
          <div class="logo">
          <a href="" ><img src="assets/images/tech.jpg"></a>
          <a href="#" class="navbar-brand" style="margin-left: 20px;"></a>
  
          </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a routerLink="/login" class="nav-link text-light" style=" font-size: 1.2rem; font-weight: bold">techPath</a>
            </li>
            <li class="nav-item">
              <a routerLink="" class="nav-link" style="color: aliceblue;"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

</div>

<section class="blog">
    <div class="container">
        <div class="row content">
            <div class="col-md-6 mb-3">
                <img src="assets/images/aifuture.jpeg" class="img-fluid" alt="image">
            </div>
            <div class="col-md-6">
                <h3 class="blog-text mb-3">Is Artificial Intelligence (AI) the future?</h3>
                
                <p class="text">
                  Artificial intelligence is impacting the future of virtually every industry and every human being. Artificial intelligence has acted as the main driver of emerging technologies like big data, robotics and IoT, and it 
                  will continue to act as a technological innovator for the foreseeable future.</p>
            </div>
        </div>
    </div>
</section>
<section class=" text-light p-3" style="background-color: #DFC13F;">
    <div class="container">
      <div class="d-md-flex justify-content-between align-items-center">
        <h3 class="mb-1 mb-md-0">Learn more about Artificial Intelligence (AI):</h3>
      </div>
    </div>
  </section>

  <!-- Boxes -->
  <section class="p-5">
    <div class="container">
      <div class="row text-center g-4">
        <div class="col-md">
          <div class="card bg-light text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-laptop"></i>
              </div>
              <span class="material-icons">
                <img src="assets/images/learnai.jpg" class="img-fluid" alt="image">
                </span>
              <h3 class="card-title mb-3">Is learning Artificial Intelligence (AI) difficult</h3>
              <p class="card-text">
                While creating some artificial intelligence programs is easy, turning them into successful businesses can be challenging,
                 according to experts at the Innovfest Unbound tech conference in Singapore             </p>
              <a href="https://www.cnbc.com/2018/06/08/building-an-ai-program-is-easy-the-hard-part-comes-after.html#:~:text=While%20creating%20some%20artificial%20intelligence,large%20problem%2C%20the%20experts%20said." target="_blank" class="btn text-light">Read more</a>
            </div>
          </div>
        </div>
        <!--<div class="col-md">
          <div class="card bg-light text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-people"></i>
              </div>
              <span class="material-icons">
                <img src="assets/images/covid.jpg" alt="">
                </span>
              <h3 class="card-title mb-3">Covid 19</h3>
              <p class="card-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Iure, quas quidem possimus dolorum esse eligendi?
              </p>
              <a href="#" class="btn btn-warning text-light">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md">
            <div class="card bg-light text-dark">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-people"></i>
                </div>
                <span class="material-icons">
                    <img src="assets/images/mental.jpg" alt="">
                    </span>
                <h3 class="card-title mb-3">Mental</h3>
                <p class="card-text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Iure, quas quidem possimus dolorum esse eligendi?
                </p>
                <a href="#" class="btn btn-success">Read More</a>
              </div>
            </div>
          </div>-->
          <div class="col-md" id="cardz">  
            <div class="card bg-light text-dark">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-people"></i>
                </div>
                <span class="material-icons">
                    <img src="assets/images/ail.jpg" class="img-fluid" alt="image">
                    </span>
                <h3 class="card-title mb-3">Does Artificial Intelligence (AI) require coding?</h3>
                <p class="card-text">
                  
                Yes, programming is required to understand and develop solutions using Artificial Intelligence. 
                AI-based algorithms are used to create solutions that can imitate a human closely. ... The top 5 languages that help with work in 
                the field of AI are Python, LISP, Prolog, C++, and Java.
                </p>
                <a href="https://intellipaat.com/community/52472/does-artificial-intelligence-require-coding" target="_blank" class="btn text-light">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card bg-light text-dark">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-people"></i>
                </div>
                <span class="material-icons">
                    <img src="assets/images/types.jpg" class="img-fluid" alt="image">
                    </span>
                <h3 class="card-title mb-3">What are the 4 types of Artificial Intelligence (AI)?</h3>
                <p class="card-text">
                  
                There are four types of artificial intelligence: reactive machines, 
                limited memory, theory of mind and self-awareness.
                </p>
                <a href="https://www.govtech.com/computing/understanding-the-four-types-of-artificial-intelligence.html" target="_blank" class="btn text-light">Read more</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="p-5  text-light text-center position-relative" style="background-color: #ceba60ee;">
    <div class="container">
      <p class="lead">Created by codeTech Copyright &copy; 2021 techPath blog</p>

    </div>
  </footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>


