<nav  class="navbar navbar-expand-lg  navbar-dark py-3 fixed-top">
    <div class="container">
        <div class="logo">
        <a href="" ><img src="assets/images/tech.jpg"></a>
        <a href="#" class="navbar-brand" style="margin-left: 20px;"></a>

        </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a routerLink="/login" class="nav-link text-light" style=" font-size: 1.2rem; font-weight: bold">techPath</a>
          </li>
          <li class="nav-item">
            <a routerLink="" class="nav-link" style="color: aliceblue;"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="blog">
    <div class="container">
        <div class="row content">
            <div class="col-md-6 mb-3">
                <img src="assets/images/blackcode.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-md-6">
                <h3 class="blog-text mb-3">Why is Software Development important?</h3>
               
                <p class="text">
                  It is very important for businesses as it helps them distinguish from competitors and become more competitive. Software development can improve the client’s experiences, bring more feature-rich and innovative products to market, and make setups more safe, productive, and efficient. 

Digitization of information and storing it online will not only save space but also integrates and centralizes it so that it is easy to access for those who need it. Also, it is easy to protect your data from outsiders.

When the business develops, the pool of data gains volume, and storing this data efficiently will become a point of focus for the company. For this, businesses need to develop and upgrade digital organization so that they can keep on providing consistent performance for those who utilize this data.

Also, software development is essential for data analysis. The data collected from day to day tasks, when combined with the right software, can be utilized by businesses to keep a record of the trends among their clients.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="text-light p-3" style="background-color: #DFC13F">
    <div class="container">
      <div class="d-md-flex justify-content-between align-items-center">
        <h3 class="mb-1 mb-md-0">Learn more about the types of Software Development:</h3>
      </div>
    </div>
  </section>

<!-- Boxes -->
<section class="p-5">
    <div class="container">
      <div class="row text-center g-4">
        <div class="col-md">
          <div class="card bg-light text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-laptop"></i>
              </div>
              <span class="material-icons">
                <img src="assets/images/database.png" alt="">
                </span>
              <h3 class="card-title mb-3">Database Development</h3>
              <p class="card-text p-2">
                 Database 
                  Development is the name of a sophisticated process of 
                developing and analyzing requirements and objectives in the form of raw data.
              </p>
              <a href="https://it-s.com/what-is-database-development/" target="_blank" class="btn btn-success">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-light text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-people"></i>
              </div>
              <span class="material-icons">
                <img src="assets/images/webdevelopment.jpg" alt="">
                </span>
              <h3 class="card-title mb-3">Web Development</h3>
              <p class="card-text">
               
            Web development is the building and maintenance of websites; 
            it’s the work that happens behind the scenes to make a website look great, 
            work fast and perform well with a seamless user experience.
              </p>
              <a href="https://simpleprogrammer.com/what-is-web-development/" target="_blank" class="btn btn-warning text-light">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md">
            <div class="card bg-light text-dark">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-people"></i>
                </div>
                <span class="material-icons">
                    <img src="assets/images/mobiledev.jpg" alt="">
                    </span>
                <h3 class="card-title mb-3">Mobile Development</h3>
                <p class="card-text">
                    Mobile application development is the process of creating software applications that run on a mobile device, and a typical mobile application 
                    utilizes a network connection to work with remote computing resources.
                </p>
                <a href="https://invotech.co/blog/what-is-mobile-development/" target="_blank" class="btn btn-success">Read More</a>
              </div>
            </div>
          </div>
          
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="p-5 text-light text-center position-relative" style="background-color: #ceba60ee;">
    <div class="container">
      <p class="lead">Created by codeTech Copyright &copy; 2021 techPath blog</p>

    </div>
  </footer>
